<mat-drawer-container class="example-container">
  <mat-drawer class="custom-drawer" mode="side" opened>#placeholder for some side navigation options
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle class="card-title">Barbell Bench Press (Flat)</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p class="card-content-subtitle">Description :</p>
    <p class="card-content">
        Equipment: Barbell. Primary Muscle: Chest. Secondary: Shoulders, Triceps
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions-spaced">
    <!-- <button matButton>MORE</button>
    <button matButton>HISTORY</button> -->
  </mat-card-actions>
  <section>
  <div class="example-label">Tonal</div>
  <div class="example-button-row">
    <button matButton="tonal" >Basic</button>
    <button matButton="tonal"  disabled>Disabled</button>
    <a matButton="tonal" href="" >Link</a>
  </div>
</section>
</mat-card> 

  </mat-drawer-content>
</mat-drawer-container>


